<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/navbar') %>
    <div class="container">
      <hr />
      <h2>Artigos</h2>
      <hr />
      <a class="btn btn-success" href="/admin/articles/new">New Article</a>
      <br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Category</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% listArticle.forEach(article =>{ %>

          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.slug %></td>
            <td><%= article.category.title %></td>
            <td>
              <a
                class="btn btn-warning"
                href="/admin/articles/edit/<%= article.slug %>"
                >Editar</a
              >

              <form
                action="/articles/deleteArticle"
                method="post"
                style="display: inline"
                onsubmit="deleteConfirm(event, this)"
              >
                <input type="hidden" name="id" value="<%= article.id %>" />
                <button class="btn btn-danger">Excluir</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <br />
    </div>
  </body>
  <%- include('../../partials/footer') %>
</html>
